.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    /* col-end 6 would work here too */
    padding: 3rem;

    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    /* This property only affects the 'top 3 realtors' because the other items already fit the amount of width */
    grid-row-gap: 2rem;


    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;
    }

    &__img {
        width: 7rem;
        border-radius: 100%;
        display: block;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
}